.footer {
  background-color: #323232;
  padding: 50px 0;
  color: #fff;

  &__top {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__logo {
    img {
      max-width: 150px;
      @media (min-width: 768px) {
        max-width: 250px;
      }
    }
  }

  &__menu {
    @media (max-width: 767px) {
      margin-top: 1.5rem;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      *:not(:first-child) {
        margin-left: 20px;
      }
    }
  }

  &__item {
    a {
      color: #fff;
      text-decoration: none;
      font-weight: 600;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  &__left {
    flex: 1 1 100%;
    padding-right: 100px;

    @media (min-width: 992px) {
      flex: 1 1 40%;
    }
    @media (min-width: 768px) {
    }

    h6 {
      font-size: 25px;
      margin-bottom: 30px;
    }

    a {
      text-decoration: none;
      color: rgb(170, 218, 255);
      margin-bottom: 20px;
    }
  }

  &__middle {
    flex: 1 1 100%;
    @media (min-width: 992px) {
      flex: 1 1 40%;
    }
    @media (min-width: 768px) {
      flex: 1 1 66%;
    }
  }

  &__right {
    flex: 1 1 33%;
    @media (min-width: 992px) {
      flex: 1 1 20%;
    }
    @media (max-width: 767px) {
      margin-top: 20px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px 10px;
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__text {
    margin-bottom: 0;
    @media (max-width: 769px) {
      font-size: 12px;
    }
  }

  &__mail {
    text-decoration: none;
    color: $green;
    font-size: 20px;
  }

  .item {
    @media (max-width: 767px) {
      &:not(.item--mobile) {
        display: none;
      }
    }

    &__address {
      color: $green;
      font-size: 15px;
      margin-bottom: 0px;
      @media (min-width: 768px) {
        font-size: 18px;
      }
    }
    &__tel {
      color: $orange;
      font-weight: 600;
      font-size: 18px;
      display: block;
      @media (min-width: 768px) {
        font-size: 20px;
      }
    }
    &__btn {
      background-color: $blue;
      border: none;
      border-radius: 10px;
      padding: 5px 20px;
      color: #fff;
      font-weight: 600;
      margin-top: 20px;
      border: 2px solid transparent;
      transition: all 0.3s;

      &:hover {
        background: transparent;
        border-color: #fff;
      }
    }

    &__text {
      margin-bottom: 0;
      @media (max-width: 769px) {
        font-size: 12px;
      }
    }
  }

  &__bottom {
    text-align: center;
    margin-top: 50px;
    color: #636363;
    @media (max-width: 769px) {
      margin-top: 20px;
      font-size: 12px;
    }
  }

  .green {
    color: $green;
  }

  .copyright {
    color: $blue;
  }
}
