.header {
  background-color: #323232;
  font-weight: 600;
  padding-top: 50px;

  @media (max-width: 1200px) {
    display: none;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    max-width: 200px;
    @media (max-width: 1200px) {
      max-width: 150px;
    }
    img {
      width: 100%;
    }
  }

  &__sity {
    color: #fff;
    img {
      width: 15px;
      margin-right: 5px;
    }
  }

  &__search {
    position: relative;
    width: 200px;
    @media (min-width: 1400px) {
      width: 300px;
    }
    &-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 15px;
      z-index: 2;
    }
    &-input {
      padding: 5px 10px;
      border-radius: 10px;
      border: none;
      width: 100%;
      &:focus {
        outline: none;
      }
      &::placeholder {
        font-weight: 600;
      }
    }
  }

  &__contact a {
    color: #fff;
    text-decoration: none;
    @media (max-width: 1400px) {
      font-size: 14px;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;

    *:not(:first-child) {
      margin-left: 20px;
    }
  }

  &__btn {
    background-color: $blue;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    color: #fff;
    font-weight: 600;
    border: 2px solid transparent;
    transition: all 0.3s;

    &:hover {
      background: transparent;
      border-color: #fff;
    }
    @media (max-width: 1400px) {
      font-size: 14px;
    }
  }

  &--mobile {
    background-color: #323232;
    padding: 10px 0;
    position: relative;
    z-index: 1000;
    @media (min-width: 1200px) {
      display: none;
    }
  }

  &__burger {
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;

    @media (min-width: 768px) {
      width: 40px;
      height: 30px;
    }

    &::before,
    &::after {
      content: "";
    }

    &::before,
    &::after,
    span {
      position: absolute;
      left: 0;
      right: 0;
      height: 3px;
      background-color: #fff;
      border-radius: 3px;
      transition: all 0.3s;
      @media (min-width: 768px) {
        height: 4px;
        border-radius: 4px;
      }
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: 9px;
      @media (min-width: 768px) {
        top: 13px;
      }
    }

    &.active {
      &::before {
        transform: rotate(45deg);
        top: 8px;
        @media (min-width: 768px) {
          top: 13px;
        }
      }

      &::after {
        transform: rotate(-45deg);
        bottom: 8px;
        @media (min-width: 768px) {
          bottom: 13px;
        }
      }

      span {
        transform: scale(0);
      }
    }
  }

  &-headings {
    height: 0;
    position: sticky;
    top: 62px;
    z-index: -1;
    @media (max-width: 1000px) {
      top: 50px;
    }
    &.active {
      z-index: 900;
      .header-headings {
        &__backdrop {
          opacity: 1;
        }
        &__menu {
          z-index: 910;
          transform: translateX(0px);
        }
      }
    }
    &__backdrop {
      position: fixed;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: 0.3s;
    }
    &__menu {
      position: relative;
      width: 80%;
      background: $black;
      top: 0;
      height: 100vh;
      left: 0;
      transform: translateX(-100%);
      overflow-y: auto;
      transition: 0.3s;
      padding-bottom: 50px;
    }

    .menu {
      &__item {
        padding: 0.5rem 1rem;
        position: relative;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

.nav {
  background-color: $black;
  position: relative;
  z-index: 100;
  @media (max-width: 1200px) {
    display: none;
  }
  a {
    display: block;
  }
  a:hover {
    color: rgb(148, 148, 148);
    transition: 0.3s;
  }
  &__list--2 {
    position: absolute;
    left: 0;
    top: 32px;
    min-width: 300px;
    opacity: 0;
    z-index: -10;
    transition: 0.3s;
    background: $black;
    padding: 0.25rem 1rem;
    border-radius: 0.375rem;

    li {
      float: none;
      background: $black;
      margin-top: 2px;
    }
  }
  ul li:hover > ul {
    opacity: 1;
    z-index: 5;
  }
  &__list--3 {
    position: absolute;
    top: 0px;
    left: 280px;
    opacity: 0;
    z-index: -10;
    transition: 0.3s;
    background: $black;
    padding: 0.25rem 1rem;
    min-width: 300px;
    border-radius: 0.375rem;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    position: relative;
    padding: 10px;
  }
  &__item a {
    color: #fff;
    text-decoration: none;
  }
}

.menu__submenu {
  display: none;
  position: absolute;
  width: 245px;
  top: 100%;
  left: 0;
  z-index: 999;
  background: #fff;

  -webkit-box-shadow: 0 3px 38px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 38px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1199px) {
  .menu__submenu {
    width: 220px;
  }
}

@media (max-width: 991px) {
  .menu__submenu {
    position: relative;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    width: 100%;
    padding-top: 15px;
    font-size: 14px;
  }
  .menu__submenu > li > a {
    color: #fff;
  }
}

.menu__submenu .menu__submenu {
  width: 220px;
  top: 0;
  left: 100%;
  border-left: 1px solid #4887d8;
}

@media (max-width: 1270px) {
  .menu__submenu .menu__submenu {
    left: auto;
    right: 100%;
    border-left: 0;
    border-right: 1px solid #4887d8;
  }
}

@media (max-width: 991px) {
  .menu__submenu .menu__submenu {
    border-left: 0;
    width: 100%;
    position: relative;
    right: auto;
    border: 0;
  }
}

.menu__submenu > li > a {
  display: inline-block;
  color: #969ba2;
  line-height: 1.2;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: none;
  font-size: 16px;
}

.menu__submenu > li > a:before {
  content: url("../img/menu-arrow-right.svg");
  display: inline-block;
  width: 7px;
  top: 7px;
  position: absolute;
  left: 30px;
  opacity: 0;
  line-height: 1.5;
}

.menu__submenu > li > a:hover {
  color: #4887d8;
  padding-left: 40px;
  padding-right: 40px;
}

.menu__submenu > li > a:hover:before {
  opacity: 1;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.menu__submenu .menu__item_parent {
  position: static;
}

@media (max-width: 991px) {
  .menu__submenu .menu__item_parent {
    position: relative;
  }
}

.menu__item_parent .arrow {
  display: inline-block;
  margin-left: 5px;
}

@media (max-width: 991px) {
  .menu__item_parent .arrow {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 40px;
  }
  .menu__item_parent .arrow svg {
    width: 12px !important;
  }
}
